<div class="container">
<%= render partial: 'shared/nav' %>
  <center>
    <br><h3>Here is your random <%= @dog %> Gif!</h3><br>
    
    <%= image_tag @gif.image_url %>
    <br><br>
    <h4><%= link_to "Find another Gif", "/" , class: 'find_gif' %></h4>
    <br><br>
    <%= render partial: 'email', locals: { gif: @gif.image_url } %>
  </center>
</div>